/* Original Purple:  #8774F0;*/
/* Black #000000; */
/* Cool White: #F7ECE1; */
/* Indigo: #610F7F; */
/* Maybe (Beaver): #A17C6B */

/* Body Area */
body {
  background-color: #8774F0;
}
/* ============================ */

/* Title Area */
.logo-cont {
  display: flex;
  justify-content: center;
}

.word-whiz-logo {
  width: 40%
}

.logo-cont, .word-whiz-logo {
  margin-bottom: -10%;
}
/* ============================ */

/* Middle Page Area */

.summary-cont-main {
  display: flex;
  justify-content: center;
}

/* ============================ */